.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* 배너 섹션 */
.banner_section {
    margin-top: 10px; /* Top Bar와의 간격 추가 */
    text-align: center;
}

.banner_section img {
    width: 100%;
    height: 320px;
}

/* 드라이브 코스 섹션 */
.drive_section {
    margin-bottom: 40px;
}

.drive_section h2 {
    font-size: 24px;
    color: #3EB489;
    margin-bottom: 20px;
    text-align: center;
}

.drive_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.drive_list li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.drive_list li img {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    border-radius: 5px;
    object-fit: cover;
}

.drive_info h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.drive_views {
    margin-top: 5px;
    color: #666;
    font-size: 14px;
}



.slider_container {
    overflow: hidden;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slider_wrapper {
    display: flex;
    justify-content: center;
}

.drive_card {
    flex: 0 0 200px;
    margin-right: 15px;
    text-align: center;
}

.drive_card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.drive_card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.drive_card p {
    font-size: 14px;
    color: #666;
}

.prev_btn, .next_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 30px;
    color: #6e1a0b;
    cursor: pointer;
}

.next_btn {
    right: 0;
}

/* footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 50px;
    text-align: center;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foo_div1 {
    flex-grow: 2;
}

.foo_div2 {
    display: flex;
    justify-content: flex-end;
}

.foo_div2 img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 50%;
}
