@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard-Regular';
}

.navbar {
    background-color: #1E3A8A;
    padding: 10px;
}

.navbar-brand {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.navbar-nav {
    list-style: none;
    display: flex;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-link:hover {
    text-decoration: underline;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
}

.text-muted {
    color: #6c757d;
}
